{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02312187f3.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    <div class="topbar">
        <div class="topbartitle">
            <h1>Stock Count</h1>
            <!--
            <div class="notificaitonbell" id="myBtn">
                <i class="fa-solid fa-bell"></i>
                <p>1</p>
            </div>
            !-->    
        
                <div class="mobileburger">
                    <a href="javascript:void(0);" class="icon" onclick="openMobNav()">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="mobileburgerlinks">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'request' %}">Request</a>
        <a href="{% url 'stock' %}">Stock List</a>
        <a href="{% url 'log' %}">Log</a>
        <a href="{% url 'tools' %}">Tools</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'signout' %}">Sign Out</a>
    </div>

    <div class="sidebar">
        <nav class="sidenav">
            <ul>
                <div>
                    <a href="{% url 'home' %}">
                        <li>
                            <div class="sidebarcontainer">
                                <div class="listicon">
                                    <i class="fa-solid fa-house"></i>
                                </div>
                                <div class="listtext">
                                    Home
                                </div>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'request' %}">
                        <li>
                            <div class="sidebarcontainer">
                                <div class="listicon">
                                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                                </div>
                                <div class="listtext">
                                    Request
                                </div>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'stock' %}">
                        <li>
                            <div class="sidebarcontainer">
                                <div class="listicon">
                                    <i class="fa-solid fa-box"></i>
                                </div>
                                <div class="listtext">
                                    Stock List
                                </div>
                            </div>
                        </li>
                    </a>


                    <a href="{% url 'log' %}">
                        <li>
                            <div class="sidebarcontainer">
                                <div class="listicon">
                                    <i class="fa-solid fa-eye"></i>
                                </div>
                                <div class="listtext">
                                    Log
                                </div>
                            </div>
                        </li>
                    </a>

                    <a href="{% url 'tools' %}">
                        <li>
                            <div class="sidebarcontainer">
                                <div class="listicon">
                                    <i class="fa-solid fa-wrench"></i>
                                </div>
                                <div class="listtext">
                                    Tools
                                </div>
                            </div>
                        </li>
                    </a>
                </div>

                <div>
                <a href="{% url 'settings' %}">
                    <li class="bottom">
                        <div class="sidebarcontainer">
                            <div class="listicon">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class="listtext">
                                Settings
                            </div>
                        </div>
                    </li>
                </a>

                <a href="{% url 'signout' %}">
                    <li class="bottom">
                        <div class="sidebarcontainer">
                            <div class="listicon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="listtext">
                                Sign Out
                            </div>
                        </div>
                    </li>
                </a>

                </div>

            </ul>

        </nav>
    </div>

    <div class="row">

        <div class="maintitle">

            <h2>Home</h2>

        </div>

        <div class="container">

            <div class="insidecontainer">
                <h3>Stock overview</h3>

                <div class="chartcontainer">
                    <canvas id="pie-chart"></canvas>
                </div>
              
            </div>

            <div class="insidecontainer">

                <h3>Your requests</h3>

                <div class="tablescroll">
                    <div class="tablesize">
                        <table>
                            <tr>
                          
                              <th>Date Requested</th>
                              <th>Equipment Requested</th>
                              <th>Quantity Requested</th>
                              <th>Status</th>
                          
                            </tr>
                            
                            {% for x in stock_request_table %}
                            {% if x.request_requestor == "text1" %}
                          
                            <tr>
                      
                              <td>
                                {{ x.request_date }}
                              </td>
                          
                              <td>
                                {{ x.request_item }}
                              </td>
                          
                              <td>
                                {{ x.request_quantity }}
                              </td>
                      
                              <td>
                                {{ x.request_status_home }}
                              </td>
                          
                              </tr>
                              
                              {% endif %}
                      
                              {% empty %}
                              <td colspan="4">You have no requests</td>
                      
                              {% endfor %}
                          </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="detailssize">
            <details>
                <summary class="detailsbackground">Previous requests (auto delete after 30 days)</summary>
                <div class="detailstextbackground">
                  {% for x in stock_previous_request %}
                  {% if x.request_status == "IT have given you the item" %}
                  <p>Your request dated <span style="font-weight: bold;">{{ x.request_date }}</span> for <span style="font-weight: bold;">{{ x.request_quantity }} {{ x.request_item }}(s)</span> outcome was: <span style="color:rgb(12, 219, 12);font-weight:bold">{{ x.request_status }} </span></p>
                  {% else %}
                  <p>Your request dated <span style="font-weight: bold;">{{ x.request_date }}</span> for <span style="font-weight: bold;">{{ x.request_quantity }} {{ x.request_item }}(s)</span> outcome was: <span id="modalBtn" class="menu-btn header-btn modal-btn" style="color:rgb(255, 0, 0);font-weight:bold">{{ x.request_status }} </span>reason:</p><p style="font-weight: bold;">{{ x.request_rejected }}</p>
                  <div id="simpleModal" class="modal">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="closeBtn">&times;</span>
                        <h2>Rejected Reason</h2>
                      </div>
                      <div class="modal-body">
                        <p>{{ x.request_rejected }}</p>
                    </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                </div>
                  {% endif %}
                  {% empty %}
                  <p>You have not made any requests in the last 30 days</p>
                  {% endfor %}
                </div>
              </details>
        </div>

        <footer>
            made with ❤️ by james
        </footer>

    </div>

<script>

function openMobNav() {
  var x = document.getElementById("mobileburgerlinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

var config = {
    type: 'pie',
    data: {
        datasets: [{
            data: {{ data }},
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
        ],
    }],
    labels: {{ labels|safe }}
},

options: {
    responsive: true
    }
};

window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
};

// Modal Button


// Get modal element
const modal = document.getElementById('simpleModal');
// All page modals
var modals = document.querySelectorAll('.modal');
// Get open modal button
const modalBtn = document.querySelectorAll('.modal-btn');
// Get close button
const closeBtn = document.getElementsByClassName('closeBtn')[0];

// Listen 	for OPEN Click
modalBtn.forEach(function(e) {
e.addEventListener('click', openModal);
})
// Listen for CLOSE Click
closeBtn.addEventListener('click', closeModal);
// Listen for OUTSIDE Click
window.addEventListener('click', outsideClick);

// Function to OPEN modal
function openModal() {
  modal.style.display = "block";
}

// Function to CLOSE modal
function closeModal() {
  modal.style.display = "none";
}
// Function to CLOSE modal
function outsideClick(e) {
  if(e.target == modal) {
    modal.style.display = "none";
  }
}

</script>
    
</body>

</html>